<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanperiod="60 seconds" debug="false"/>
<appender name="console"  class="ch.qos.logback.core.ConsoleAppender">
<encoding>utf-8</encoding>
<encoder>
    <pattern></pattern>
</encoder>
<filter>
    <level>debug</level>
</filter>

</appender>

<appender name="" class="">
<file></file>
<rollingpolicy class="">
    <filenamepattern></filenamepattern>
    <append>true</append>
    <maxhistory>10</maxhistory>
</rollingpolicy>
<encoder>
    <pattern>

    </pattern>
</encoder>
</appender>